/* CONTENT */

.numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

/* DEBUGGER */
.debug {
    background-color: grey;
}

.debug #number-display {
    min-height: 200px;
    background-color: darkcyan;
}

.debug .numbers {
    min-width: 50px;
    min-height: 50px;
    background-color: coral;
}